@charset "utf-8";
/* CSS Document */

<style type="text/css">
.Testo_comics {
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	color: #000;
	font-style: italic;
}
.Testo_comics_piccolo {
	font-family: "Comic Sans MS", cursive;
	font-size: 18px;
	color: #FFF;
	font-style: italic;
}
.Testo_comics_piccolissimo {
	font-family: "Comic Sans MS", cursive;
	font-size: 12px;
	color: #FFF;
	font-style: italic;
}

.Intestazione {
	font-family: Arial, Helvetica, sans-serif;
}

.Citazioni {
font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	color: #000;
	font-style: italic;
}
.Lettera {
font-family:"Comic Sans MS", cursive;
 font-size:16px;
 font-style:italic;
 color:#000;
 position:fixed;
 z-index:+10;

}
a:link {
	font-style: italic;
}
.Testo_comics36 font b {
	font-size: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.lucida {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 20px;
	color: #000;

}
</style>