@charset "utf-8";
/* CSS Document */
.pair{
	display:table;
	margin:auto;
	margin-bottom:1em !important;
	width:80%;
}
   

.related_images{
	overflow:hidden;
 }
 .related_images a{
	 display:block;
	width:246px;
	height:258px;
	background:url(../images/mail_icon.gif) no-repeat top left;
 }
 .related_images a:hover{
	background-position: 0 -258px;
 }
 #container{
	 padding-top:3em;
	 text-align:center;
	 width:60%;
	 min-width:600px;
	 margin:auto;
}

.lateral_text{
	margin-left: 250px;
	width: 100%;
	display:table-cell;
	vertical-align:bottom;
}